@use '../custom' as *;

.campanies {
  padding: 1rem 0 0 0;

  &__row {
    @extend .row-wrapper;
    text-align: center;
  }

  &__logo-box {
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(2);
    }
  }

  &__logo {
    position: relative;
    max-width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    img {
      max-width: 100%;
      height: 100%;

      &:hover {
        filter: grayscale(120);
      }
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 1.5rem 0 1rem 0;
  }
}
