@use '../custom' as *;
@use '../components/mixins' as *;

.faq {
  .accordion {
    &__row {
      margin-top: 3rem;

      .accordion-item {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
      }
    }
  }
}
