@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
  padding-top: 1rem;
  background-color: $dark-blue;
}

// контакты
.contact-box {
  position: relative;
  display: flex;
  padding-top: 0.25rem;

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__icon {
    width: 2rem;
    stroke: $primary;
    padding-top: 0.6rem;

    @include media-breakpoint-up(sm) {
      width: 4rem;
    }
  }

  &__info {
    padding: 0.4rem;
    font-weight: 600;
    &--title {
      color: $white;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: $primary;
      }

      @include media-breakpoint-up(sm) {
        font-size: 1.4rem;
      }
    }

    &--subtitle {
      color: $gray-600;
      text-decoration: none;
      font-size: 0.8rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
    }
  }
}

// социальные сети
.footer-sm {
  background-color: #053742;

  &__row {
    padding: 1.5rem 0;
    color: $white;
  }

  &__descr {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  a {
    color: $white;

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
      }
    }
  }
}

// о компании
.info {
  color: $white;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 1rem;
  &__col {
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  &__descr {
    line-height: 2;
  }
  &__subtitle {
    text-transform: capitalize;
    font-weight: 700;
  }
}

.campany-list {
  display: block;
  list-style-type: none;
  position: relative;

  li {
    margin-bottom: 0.5rem;
    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }
}

// авторские права
.footer-bottom {
  background-color: $black;
  padding: 3rem 0;

  &__row {
    color: $white;
  }

  &__copyright {
    color: $gray-600;
    font-weight: 400;

    a {
      text-decoration: none;
      color: $gray-300;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}
