@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
  background: url('../../images/intro/intro_bg.jpg') center (center / cover)
    no-repeat;
  padding: 10rem 0;
  width: 100%;
  height: 100%;
}
