@use '../custom' as *;

.intro {
  background: url('../../images/intro/intro_bg.jpg') center (center / cover)
    no-repeat;
  padding: 10rem 0;
  width: 100%;
  height: 100%;

  &__row {
    @extend .row-wrapper;
    align-items: center;
    color: $white;
  }

  &__block {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    &--video {
      text-align: right;
    }
  }
}
