@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;
  @include shadow;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  .logo {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    &:hover {
      color: $dark-blue;
    }
  }

  li {
    padding: 0 0.7rem;

    a {
      color: $white;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1rem;
      &:hover {
        color: $dark-blue;
      }
    }
  }
}
