@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio {
  padding: 4rem 0;

  &__heading {
    @extend .row-wrapper;
    text-align: center;
    margin-top: 3rem;
  }

  &__row {
    @extend .row-wrapper;
  }

  &__block {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  button {
    text-transform: capitalize;
  }
}

.filter {
  @extend .row-wrapper;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  --bs-gutter-x: 1rem;

  div {
    button {
      margin-bottom: 0.5rem;
    }
  }

  &__wrap {
    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
  }
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid $primary;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  img {
    width: 100%;
    height: 100%;
  }

  &__info {
    background-color: rgba($secondary, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__caption {
    text-align: center;
    @include absolute-center;
    color: $white;
    font-weight: 600;

    h4 {
      text-transform: uppercase;
      font-weight: 700;
      display: block;
    }
  }

  &:hover {
    img {
      transform: scale(1.5);
      @include transition-prop;
    }

    .portfolio-box__info {
      opacity: 1;
      visibility: visible;
      @include transition-prop;
    }
  }
}
