@use '../custom' as *;

.services {
  &__row {
    text-align: center;
    padding-top: 3rem;
    &--reverse {
      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }
  }
  &__wrapper {
    padding: 1rem;
    &--start {
      text-align: left;
      padding: 1.5rem;
    }
  }
  &__descr {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }
  &__text {
    font-weight: 300;
  }

  .service {
    position: relative;
    padding: 1rem 0;
    margin-top: 1.5rem;

    &__content {
      padding: 1rem;
      margin-top: 0;

      @include media-breakpoint-up(lg) {
        margin-top: 5rem;
      }

      .icon {
        display: block;
        font-size: 1.5rem;
        color: $primary;

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }
      }
    }

    &__text {
      line-height: 2;
    }
    &__pic {
      max-width: 100%;
    }
  }
}
