@use '../custom' as *;

.services {
  &__row {
    @extend .row-wrapper;
    align-items: center;
    &--center {
      text-align: center;
      padding-top: 3rem;
    }
    &--reverse {
      @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
      }
    }
  }
  &__wrapper {
    padding: 1rem;
    &--start {
      text-align: left;
      padding: 1.5rem 1.5rem 1.5rem 2.4rem;
    }

    &--border-right {
      border-right: 0.1rem solid $gray-300;
      height: 100%;
    }

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
  &__descr {
    @extend .row-wrapper;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }
  &__text {
    font-weight: 300;
  }

  .service {
    position: relative;
    padding: 1rem 0;
    margin-top: 1.5rem;

    &__content {
      padding: 1rem;
      margin-top: 0;

      .icon {
        display: block;
        font-size: 1.5rem;
        color: $primary;

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }
      }
    }

    &__text {
      line-height: 2;
    }
    &__pic {
      max-width: 100%;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }
}
