@use '../custom' as *;

// миксин градиента
@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}

// миксин абсолютного позиционирования в центре родителя
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// миксин тени
@mixin shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
