@use '../custom' as *;
@use '../components/mixins' as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }

  &--descr {
    font-size: 1rem;
    display: block;
    text-transform: none;
    margin-top: 1.2rem;
    line-height: 1.5;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
      display: inline-block;
    }
  }
}

// линия заголовка
.heading-line {
  &:before {
    content: '';
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
  }

  &:after {
    content: '';
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
  }

  &--mb {
    margin-bottom: 1.5rem;
  }
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  &--white {
    color: $white;
    padding: 0.25rem 0;
  }
}

// display 3
.display-3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 0.25rem;
    // градиент по тексту
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }

  &--title-form {
    margin-bottom: 3rem;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

.display-4 {
  font-weight: 700;
}

.hr {
  &--footer {
    width: 60px;
    height: 2px;
    display: inline-block;
    background-color: $white;
    margin-bottom: 1.5rem;
  }
  &--testimonials {
    margin: 0 auto;
    width: 100px;
    height: 3px;
  }
}
